ol, ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.imphead {
	position: fixed;
	top:0;
}

.topbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    height: 46px;
	width: 600px;
    position: fixed;
	top: 28px;
	left: 0;
    width: 100%;
	background:url(http://i.imgur.com/VP2miNb.png)fixed center top no-repeat;
	/* cambiar url por dirección en el host */
	padding-left: 50px;
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	font-size: 14px;
}

div.main-content{
	margin-top: 95px;
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	/* no funca margin auto */
	color:#FFF
}

@font-face {
	font-family: pricedown;
	src: url(fonts/pricedown.ttf);
}

@font-face {
	font-family: diploma;
	src: url(fonts/diploma.ttf);
}

div.validation-errors p  {
	background-color: #FDDDDD;
    border-radius: 0.3em;
    color: #EE1010;
    padding-left: 8px;
    width: 320px;
}

div.login-form{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 1em;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 5px;
    width: 360px;
}

body {
	font-family:Open sans;
	background:url(http://i.imgur.com/VP2miNb.png)fixed center top no-repeat;
	/* Cambiar link al host */
	background-color:#000}
}

h1{
	font-family: Montserrat;	
}

h2{
	font-family: Montserrat;
	font-size: 2em;
	color: #ffffff;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
	text-align: left;
}

h5{
	font-family: Montserrat;	
/*	font-size: .75em;*/
	color: #ffffff; 
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	margin-bottom: 5px;
	margin-top: 1px;
}

div.login-field{
	margin-bottom: 10px;
}

#login-field span{
	display:block;
	float: left;
}

div.field {
    color: #ccc;
    font-weight: 500;
    line-height: 1;
}

div.field span{
	font-family: Montserrat;
	font-size: 15px;
	color: #ffffff;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	margin-right: 5px;
}

.navigation-list {
	float: left;
	padding-top: 10px;
}

.navigation-list li {
	display: inline;
}

.navigation-list > li > a, .nav > li > button {
    color: #555566;
    font-size: 18px;
    font-weight: 200;
    height: 46px;
    line-height: 1;
    padding: 0 14px 0 4px;
}

.navigation-list a {
	text-decoration: none;
}

.navigation-list a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

#session-info {
    color:#ccc;
	float:right;
	width:200px;
}
#topbar-content {
	width: 75%;
}

.login-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	/*box-shadow:inset 0px 1px 0px 0px #f29c93;*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cd4131), color-stop(1, #a62828) );
	background:-moz-linear-gradient( center top, #cd4131 5%, #a62828 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd4131', endColorstr='#a62828');
	background-color:#cd4131;
	/*-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;*/
	text-indent:0;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:36px;
	width:122px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
}
.login-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a62828), color-stop(1, #cd4131) );
	background:-moz-linear-gradient( center top, #a62828 5%, #cd4131 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a62828', endColorstr='#cd4131');
	background-color:#a62828;
}.login-button:active {
	position:relative;
	top:1px;
}


.register-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #9ce293;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9ce293;
	/*box-shadow:inset 0px 1px 0px 0px #9ce293;*/
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #001afe), color-stop(1, #4cb256) );
	background:-moz-linear-gradient( center top, #00ee1a 5%, #4cb256 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d903d', endColorstr='#4cb256');
	background-color:#3d903d;
	/*-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;*/
	text-indent:0;
	border:1px solid #35d826;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:122px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #3eb235;
	margin-left: 15px;
}
.register-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4cb256), color-stop(1, #00ee1a) );
	background:-moz-linear-gradient( center top, #4cb256 5%, #00ee1a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cb256', endColorstr='#00ee1a');
	background-color:#4cb256;
}.register-button:active {
	position:relative;
	top:1px;
}

div.reg-sub {
	float:left;
	
    background-color: rgba(255, 255, 255, .3);
    border-radius: 1em;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 5px;
    width: 360px;
	margin:30px;
}

div.register-form{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1150px;
	color:#FFF;
}

a:link, a:visited, a:active
{
text-decoration: none;
color: #fff;
}


/* This button was generated using CSSButtonGenerator.com */
